<figure class="text-center max-w-lg mx-auto my-10">
    <blockquote class="italic font-semibold text-gray-900">
        <p class="text-stone-700 text-xl">
            <slot />
        </p>
    </blockquote>
</figure>
