---
import { ViewTransitions } from "astro:transitions";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";

interface Props {
	title?: string;
	description?: string;
}

const { title = "Refranero Español", description = "Listado de refranes y proverbios españoles" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
		<ViewTransitions />
	</head>
	<body class="font-serif bg-stone-200">
		<Header />
		<slot />
		<Footer />		
		<style is:global>
			:root {
				--accent: 136, 58, 234;
				--accent-light: 224, 204, 250;
				--accent-dark: 49, 10, 101;
				--accent-gradient: linear-gradient(
					45deg,
					rgb(var(--accent)),
					rgb(var(--accent-light)) 30%,
					white 60%
				);
			}
			::-moz-selection {
				/* Code for Firefox */
				background: #bfb5a6;
			}

			::selection {
				background: #bfb5a6;
			}
		</style>
	</body>
</html>
